{% extends base %}

{% block title %}{% trans "Help" %}{% endblock %}

{% block content-title %}{% trans "Reduced po files" %}{% endblock %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            Damned Lies is able to filter strings which are seldom visible in user interfaces, so as translation teams
            can concentrate on most visible strings.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with "http://docs.translatehouse.org/projects/translate-toolkit/en/latest/commands/pogrep.html?id=toolkit/pogrep" as pogrep_url%}
            The most typical case is the strings from schema files, hence the default filter is filtering out strings
            which come from files having “gschema.xml.in” in their name. Technically speaking, the filter is using the
            <a href="{{ pogrep_url }}">pogrep command from the Translate Toolkit</a>.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            When you see a po file or a table header containing “(red.)” or “(reduced)”, it means that the target
            files have been filtered as stated above.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            If you think you found a better filter for a specific module, please
            <a href="{{ internationalisation_team_bug_url }}">submit a bug report</a> with your proposal.
        {% endblocktrans %}
    </p>
{% endblock %}
