table.diff {
    font-family: Cantarell;
    border: 1px solid #ccc;
}

/*.diff_header {background-color:#e0e0e0}*/ /* We use the class .djform - template.css */

td.diff_header {
    text-align: center;
    padding: 5px 5px 0 5px;
}

.diff_next {
    background-color: #d3d7cf;
    border: 1px solid #ccc;
}

.diff_add {
    background-color: #aaffaa
}

.diff_chg {
    background-color: #ffff77
}

.diff_sub {
    background-color: #ffaaaa
}

.diff tbody {
    /* Follow https://systemfontstack.com/ to get nicer fonts with low effort */
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 2px 1px 0px;
}
