<header class="gnome-header">
    <nav class="navbar navbar-collapse navbar-expand-lg navbar-expand-md navbar-default">
        <div class="container">
            <a class="gnome-navbar-brand" title="{% trans "Back to Damned Lies home page" %}" href="/">
                <img height="40" src="{% static 'img/gnome-logo.svg' %}" alt="GNOME − Damned Lies">
            </a>

            <!--
      On <= medium screens, collapse applications but display
      the connected user avatar before the collapse button
    -->
            <div class="navbar navbar-right d-flex no-padding d-block d-md-none d-lg-none d-xl-none">
                <!-- Only logo visible to open popup -->
                <ul class="list-unstyled my-0">
                    <li class="nav-item">
                        {% include "login/login_user_menu_small_screens.html" %}
                    </li>
                </ul>
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-wrapper-dl-applications" aria-controls="navbar-wrapper-dl-applications"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Django application names -->
            <div id="navbar-wrapper-dl-applications"
                 class="collapse navbar-collapse my-1 my-sm-0 my-md-0 my-lg-0 my-xl-0">
                <ul class="nav navbar-nav">
                    <li class="nav-item {% if pageSection == "teams" %} active{% endif %}">
                        <a class="nav-link text-white ps-2 ps-sm-2 ps-md-2"
                           {% if pageSection == "teams" %}aria-current="page"{% endif %}
                           href="{% url 'teams' %}">
                            <span>{% trans "Teams" %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if pageSection == "languages" %} active{% endif %}">
                        <a class="nav-link text-white ps-2 ps-sm-2 ps-md-2"
                           {% if pageSection == "languages" %}aria-current="page"{% endif %}
                           href="{% url 'languages' %}">
                            <span>{% trans "Languages" %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if pageSection == "releases" %} active{% endif %}">
                        <a class="nav-link text-white ps-2 ps-sm-2 ps-md-2"
                           {% if pageSection == "releases" %}aria-current="page"{% endif %}
                           href="{% url 'releases' %}">
                            <span>{% trans "Release sets" %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if pageSection == "module" %} active{% endif %}">
                        <a class="nav-link text-white ps-2 ps-sm-2 ps-md-2"
                           {% if pageSection == "module" %}aria-current="page"{% endif %}
                           href="{% url 'modules' %}">
                            <span>{% trans "Modules" %}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- On >= large screens, shows a ”Log In” button or an avatar of the connected user -->
            <div id="navbar-user-profile-and-login-dropdown"
                 class="navbar navbar-right no-padding d-none d-md-block d-lg-block d-xl-block">
                <!-- Login visible to open popup -->
                <ul class="navbar-nav d-none d-sm-block d-md-block">
                    <li class="nav-item">
                        {% include "login/login_user_menu_large_screens.html" %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
