{% extends "base.html" %}

{% block content %}
    <h2>{% trans "Registration Success" %}</h2>
    <p>{% trans "The registration succeeded. You will now receive an email containing a link to activate your account." %}</p>
{% endblock %}
