{% comment %}
    Expect as input:
    - statistics: the Statistics instance
    - type: a string that can be 'full' or 'partial' if the full translation statistics are required or not.
    - module: Module object instance
    - branch: Branch object instance
{% endcomment %}

{% load stats_extras %}
<div id="statistics_po" class="float-end">
    <div title="{% trans "Translated/Fuzzy/Untranslated" %}">
        <div id="vertimus_strings_diff_pot_po" class="d-inline">
            {% trans "Strings:" %}
            {% if type == "full" %}
                {% num_stats_for_statistic statistics scope="full,zeros" %}
            {% elif type == "partial" %}
                {% num_stats_for_statistic statistics scope="part,zeros" %}
            {% endif %}
            <div class="graph graphinline">
                {% if type == "full" %}
                    {{ statistics|vis_stats:"full" }}
                {% elif type == "partial" %}
                    {{ statistics|vis_stats:"part" }}
                {% endif %}
            </div>
        </div>

        <div id="vertimus_words_diff_pot_po" class="ms-2 d-none d-lg-inline">
            {% trans "Words:" %}
            {% if type == "full" %}
                {% num_stats_for_statistic statistics scope="full,zeros" for_words=True %}
            {% elif type == "partial" %}
                {% num_stats_for_statistic statistics scope="part,zeros" for_words=True %}
            {% endif %}
            <div class="graph graphinline">
                {% if type == "full" %}
                    {{ statistics|vis_word_stats:"full" }}
                {% elif type == "partial" %}
                    {{ statistics|vis_word_stats:"part" }}
                {% endif %}
            </div>
        </div>

        {% if fig_statistics and statistics.language %}
            <div class="docimages">
                {% url 'docimages' module.name statistics.domain.name branch.name statistics.language.locale as img_url %}
                {% num_stats_for_dict_of_stats fig_statistics as statistics %}
                {% blocktrans trimmed with statistics=statistics count total=fig_statistics.total %}
                    including <a href="{{ img_url }}">{{ statistics }} image</a>
                {% plural %}
                    including <a href="{{ img_url }}">{{ statistics }} images</a>
                {% endblocktrans %}
            </div>
        {% endif %}
    </div>
</div>
