<h2>{% trans "Module maintenance" %}</h2>
<ul id="list-person-maintains-modules" class="list-group">
    {% for module in person.maintains_modules.all %}
        <li id="person-maintains-module-{{ module.name|slugify }}" class="list-group-item">
            <a href="{{ module.get_absolute_url }}">{{ module.get_description }}</a>
        </li>
    {% endfor %}
</ul>
