{% if on_own_page %}
    <form action="{% url "set_language" %}" method="post">
        {% csrf_token %}
        <h2>{% trans "Site Language" %}</h2>
        <div class="input-group">
            <label class="input-group-text" for="select-site-language">{% trans 'Site Language' %}</label>
            <select id="select-site-language" class="form-select" name="language">
                {% for lang in all_languages %}
                    <option value="{{ lang.0 }}"
                            {% if lang.0 == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ lang.1 }}
                    </option>
                {% endfor %}
            </select>
            <input class="btn btn-action" type="submit" value="{% trans 'Choose' %}"/>
        </div>
    </form>
{% endif %}
