{% extends "base.html" %}
{% load humanize people stats_extras vertimus %}

{% block title %}
    {% blocktrans with module.get_description as name %}Module Translation: {{ name }}{% endblocktrans %}
{% endblock %}

{% block extrahead %}
    <style>
        tr.tr_author, tr.tr_sync_master { display: none; }
    </style>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script>

        function updateFormForCommiting() {
            /**
             * Update the form so that is displays, when committing, two extra fields to fill:
             * - who will be the author of the commit
             * - whether the commit should be cherry-picked to the main branch.
             */
            let actionValue = document.querySelector("#id_action").value;

            // Mailing lists are optional, so this query should not fail whenever there is no
            // button for this mailing list.
            let sendToMl = document.querySelector("#id_send_to_ml");
            if (sendToMl !== null) {
                sendToMl.checked = send_mail_defaults[actionValue];
            }

            if (actionValue === 'CI') {
                document.querySelectorAll("tr.tr_author, tr.tr_sync_master").forEach(item => item.style.display = "table-row");
                document.querySelector("tr.tr_file").style.display = "none"
            } else {
                document.querySelectorAll("tr.tr_author, tr.tr_sync_master").forEach(item => item.style.display = 'none');
                document.querySelector("tr.tr_file").style.display = "table-row";
            }
        }

        document.addEventListener('DOMContentLoaded', function(){
            autosize(document.querySelector('#id_comment'));
            if(typeof send_mail_defaults != 'undefined') {
                document.querySelector("#id_action").onchange = updateFormForCommiting;
                updateFormForCommiting();
            }
        }, false);

    </script>
{% endblock %}

{% block content %}

    {% load commontags %}

    <h1 class="clearfix">
        <span class="vertimus_title">
            <a href="{% url 'module' module.name %}">{{ module.get_description }}</a>
            » <span class="black">{{ branch.name }}</span>
            » <a href="{{ language.get_team_url }}">{{ language.get_name }}</a>
        </span>
        <span class="float-lg-end float-sm-start pt-sm-0 pb-sm-1 d-none d-md-block">
            <button class="btn btn-secondary" style="pointer-events: none">{{ domain.get_description }}</button>
            {% if is_current_module_branch_ui_po_file and has_current_module_branch_help_po_file %}
                {% url 'vertimus_by_names' module.name branch.name "help" language.locale as other_domain_url %}
                {% trans "User Guide" as other_domain_text %}
                {% set_value "fa fa-book" as other_domain_icon %}
            {% elif is_current_module_branch_help_po_file and has_current_module_branch_ui_po_file %}
                {% url 'vertimus_by_names' module.name branch.name "po" language.locale as other_domain_url %}
                {% trans "Interface" as other_domain_text %}
                {% set_value "fa fa-window-maximize" as other_domain_icon %}
            {% endif %}
            {% if other_domain_url and other_domain_text and other_domain_icon %}
                <a href="{{ other_domain_url }}" class="btn btn-action ps-2 pe-3 link-secondary"><i class="{{ other_domain_icon }} mx-2"></i>{{ other_domain_text }}</a>
            {% endif %}
        </span>
    </h1>

    {% if module.get_comment %}
        <div class="alert alert-info" role="alert">
            {{ module.get_comment|safe }}
        </div>
    {% endif %}

    <div>
        {% with branch.releases.all as releases %}
            <div class="float-md-end d-none d-md-block">
                {% if releases %}
                    <h4>{% trans "Used in release(s):" %}</h4>
                    {% for release in releases|slice:":5" %}
                        <a href="{% url 'language_release' language.locale release.name domain.dtype %}">
                            {% trans release.description %}
                        </a><br/>
                    {% endfor %}
                    {% if releases|length > 5 %}
                        <a data-bs-toggle="collapse" href="#collapse-release-sets" role="button" aria-expanded="false" aria-controls="collapse-release-sets">
                            <i class="fa fa-expand me-2"></i>{% translate "Expand or collapse all" %}
                        </a>
                        <div class="collapse" id="collapse-release-sets">
                            {% for release in releases|slice:"5:" %}
                                <a class="ms-4" href="{% url 'language_release' language.locale release.name domain.dtype %}">
                                    {% trans release.description %}
                                </a><br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endwith %}
    </div>

    <h2 class="my-2">
        <span class="badge {%  get_badge_bg_from_vertimus_state state %}">{{ state.description }}</span>
        {% if state.name != 'None' %}
            <span class="mx-2"><i class="fa fa-calendar me-2"></i>{{ state.updated|date:"DATE_FORMAT" }}</span>
            <span class="mx-2"><i class="fa fa-clock-o me-2"></i>{{ state.updated|date:"TIME_FORMAT" }}</span>
        {% endif %}
    </h2>

    <div id="vertimus_stats" class="my-2">
        <!-- POT File -->
        <div id="pot-file-stats" class="my-1">
            <a class="btn btn-action btn-download-po-file" href="{{ pot_stats.pot_url }}" title="{% trans 'Download template file (POT)' %}" download="{{ module.name }}.{{ domain.name }}-{{ domain.dtype }}.{{ branch.name }}.pot">
                <i class="fa fa-download me-1"></i>
                {% trans 'Template file (POT)' %}
            </a>
            {% if pot_stats.full_po %}
                <span class="badge bg-secondary"> {{ pot_stats.pot_stats_summary }}</span>
            {% endif %}
        </div>
        <!-- PO File -->
        <div id="po-file-stats" class="my-1">
            <hr class="my-2">
            <a class="btn btn-action btn-download-po-file" href="{{ po_url }}" title="{% trans 'Download current translation file (PO) as stored in the repository' %}" download="{{ module.name }}.{{ domain.name }}-{{ domain.dtype }}.{{ branch.name }}.{{ language.locale }}.po">
                <i class="fa fa-download me-1"></i>
                {% trans 'Current translated file (PO)' %}
            </a>

            {% if stats.fuzzy %}
                <a class="btn btn-light btn-download-po-file" href="{% url 'stats-msgiddiff' stats.pk %}" title="{% trans 'Current translation with inline diffs for fuzzy strings' %}">
                    <img class="me-1" height="14px" width="14px" src="{% static 'img/diff.png' %}" alt="{% trans 'Icons to show current translation with inline diffs for fuzzy strings' %}">
                    <span class="d-none d-md-inline">{% trans 'Differences for fuzzy strings' %}</span>
                </a>
            {% endif %}
            {% if domain.dtype == 'doc' %}
                <a class="btn btn-light btn-download-po-file" href="{% url 'stats-quality-check' stats.pk %}" data-bs-target="#modal-container"
                   role="button" data-bs-toggle="modal" title="{% trans 'Quality checks' %}">
                    <i class="fa fa-spell-check me-1"></i>
                    <span class="d-none d-md-inline">{% trans 'Quality check' %}</span>
                </a>
            {% endif %}
            {% include "vertimus/_includes/po_file_stats.html" with statistics=stats fig_statistics=fig_stats type="full" %}
        </div>
        {% if po_url_reduced %}
            <!-- Reduced PO file, if any -->
            <div id="pot-reduced-file-stats" class="my-1">
                <hr class="my-2">
                <a class="btn btn-action btn-download-po-file" href="{{ po_url_reduced }}" title="{% trans 'Download current reduced translation file (PO) as stored in the repository' %}" download="{{ module.name }}.{{ domain.name }}-{{ domain.dtype }}.{{ branch.name }}.{{ language.locale }}.reduced.po">
                    <i class="fa fa-download me-1"></i>
                    {% trans "Current reduced translated file (PO)" %}
                </a>
                <div style="display: inline-block;">
                    <span class="help_link">
                        <a href="{% url 'help' 'reduced_po' 1 %}" data-bs-target="#modal-container" role="button" data-bs-toggle="modal">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </span>
                </div>
                {% include "vertimus/_includes/po_file_stats.html" with statistics=stats fig_statistics=fig_stats type="partial" %}
            </div>
        {% endif %}
    </div>

    {% if other_states %}
        <div class="alert alert-danger d-inline-block w-100" role="alert">
            <p>
                <i class="fa fa-exclamation-triangle me-2"></i>
                {% blocktrans trimmed count counter=other_states|length %}
                    Another branch for this module has ongoing activity. There should only be activity in one branch at a time. This other branch is:
                {% plural %}
                    Some other branch for this module have ongoing activity. There should only be activity in one branch at a time. These other branches are:
                {% endblocktrans %}
                {% for other_state in other_states %}
                    <a href="{% url 'vertimus_by_ids' other_state.branch.pk other_state.domain.pk other_state.language.pk %}">{{ other_state.branch.name }}</a>
                {% endfor %}
            </p>
            <p>{% trans "Activity in multiple branches at once results in duplicated work and divergences. If it’s relevant, at the end of a flow, committers shall apply changes from one branch to another one." %}</p>
        </div>
    {% endif %}

    {% if domain.dtype == "doc" and stats.translated == 0 %}
        <div class="alert alert-danger d-inline-block w-100" role="alert">
            <p>
                {% blocktranslate trimmed with vcs_web=module.vcs_web name=module.name%}
                    There is no existing translation for this documentation.
                    Damned Lies does not support <b>yet</b> the addition of new documentation po file.
                    Please open a merge request on the <a href="{{ vcs_web }}"><b>{{ name }}
                        project page</b></a> and copy the link to this module activity to prove the maintainers the
                    translated file went through the translation process.
                {% endblocktranslate %}
            </p>
            <p>
                {% blocktranslate trimmed %}
                    You can track the implementation of this feature on
                    <a href="https://gitlab.gnome.org/Infrastructure/damned-lies/-/issues/437"><em>gitlab.gnome.org</em> (#437)</a>.
                {% endblocktranslate %}
            </p>
        </div>
    {% endif %}

    {% with informations=stats.information_set.all %}
        {% if informations %}
            <div class="alert alert-warning alert-small">
                {% for info in informations %}
                    <ul class="list-unstyled py-0 my-0">
                        <li><i class="fa fa-exclamation-triangle"></i> {{ info.get_description|safe }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="my-3">

        {% if language.team.use_workflow %}
            <div id="vertimus_actions_title">
                <h2>
                    {% if level == 0 %}
                        {% trans "Actions" %}
                    {% else %}
                        {% comment %}
                            Translators: human_level is an ordinal expression ('1st',' 2nd',...)
                            which should be localized in Django itself
                        {% endcomment %}
                        {% blocktrans with level|ordinal|safe as human_level %}Archived Actions ({{ human_level }} archived series){% endblocktrans %}
                        <a href="{% url 'vertimus_by_names' module.name branch.name domain.name language.locale %}">
                            {% trans "(Return to current actions)" %}
                        </a>
                    {% endif %}
                    {% if grandparent_level %}
                        <a href="{% url 'vertimus_archives_by_names' module.name branch.name domain.name language.locale grandparent_level %}">
                            {% trans "(Previous action history)" %}
                        </a>
                    {% endif %}
                </h2>
            </div>

            {% if action_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ action_form.non_field_errors }}
                </div>
            {% endif %}

            {% if action_history %}
                <div>
                    {% for action,files in action_history %}
                        <div class="vertimus_action">
                            <div class="vertimus_action_head d-flex justify-content-between">
                                <div id="vertimus_action_{{ action.id }}_head_user_details" class="float-start d-flex">
                                    <div class="face_image float-start">{{ action.person|people_image }}</div>
                                    <div>
                                        {% if action.person %}
                                            <a href="{{ action.person.get_absolute_url }}">{{ action.person.name }}</a>
                                            <br>
                                        {% else %}
                                            <em>{% trans "deleted account" %}</em><br>
                                        {% endif %}
                                        <div class="collapse" id="time-{{ action.created|date:"Y_g_i_s" }}">
                                            {{ action.created|date:_("Y-m-d g:i a O") }}
                                        </div>
                                        <div>
                                            <strong>{{ action.description }}</strong>
                                            <span class="hidden-xs"
                                                  title="{{ action.created|date:_('Y-m-d g:i a O') }}">, {{ action.created|naturaltime }}</span>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="vertimus_action_{{ action.id }}_head_action" class="float-end">
                                    {% if action.file or action.comment %}
                                        <a id="{{ action.id }}" href="#{{ action.id }}"
                                           title="{% trans 'Link to this comment' %}">
                                            <i class="fa fa-share-alt action_icons"></i>
                                        </a>
                                    {% endif %}
                                    <a role="button" href="#time-{{ action.created|date:"Y_g_i_s" }}"
                                       data-bs-toggle="collapse" class="d-block d-sm-inline d-md-none" aria-expanded="false" aria-controls="collapse-action-{{ action.id }}-timestamp">
                                        <i class="fa fa-clock-o action_icons"></i>
                                    </a>
                                    {% if domain.dtype == 'doc' and action.has_po_file %}
                                        <a href="{% url 'action-quality-check' action.pk %}"
                                           data-bs-target="#modal-container"
                                           role="button" data-bs-toggle="modal" title="{% trans 'Quality checks' %}">
                                            <i class="fa fa-spell-check action_icons"></i>
                                        </a>
                                    {% endif %}
                                    {% if action.sent_to_ml %}
                                        <i class="fa fa-email-bulk mx-1 action_icons"
                                           title="{% trans 'This message was sent to the mailing list' %}"></i>
                                    {% endif %}
                                </div>
                            </div>

                            {% if action.file or action.comment %}
                                <div class="clearfix">
                                    <div class="vertimus_action_content">
                                        {% if action.file %}
                                            <div class="uploaded_po_file float-end text-nowrap">
                                                <div class="download-submitted-file">
                                                    <i class="fa fa-download"></i>
                                                    {% comment  %}
                                                        The URL and filename depend on a special function that includes
                                                        module_name, domain_name, domain_type, branch_name and locale
                                                        to identify the file. See ActionAbstract.file attribute.
                                                    {% endcomment %}
                                                    <a href="{{ action.file.url }}" download class="download_button">
                                                        {% trans "Submitted file" %}
                                                    </a>
                                                </div>
                                                {% if action.has_po_file %}
                                                    {% if action.merged_file.url %}
                                                        <div class="download-submitted-file">
                                                            <i class="fa fa-download"></i>
                                                            <a href="{{ action.merged_file.url }}" download class="download_button">
                                                                {% trans "Submitted file merged with development changes" %}
                                                            </a>
                                                            <span style="margin-left: 5px;">{% num_stats_for_pofile action.merged_file scope='short' %}</span><br/>
                                                        </div>
                                                    {% endif %}
                                                    <div class="d-flex justify-content-between align-items-center mt-1">
                                                        {% if action.can_build %}
                                                            {% if action.build_url %}
                                                                <a href="{{ action.build_url }}">{% trans "User Guide Index" %}</a>
                                                            {% elif is_team_member %}
                                                                <form method="post" action="{% url 'action-build-help' action.pk %}">
                                                                    {% csrf_token %}
                                                                    <button class="btn btn-sm btn-action px-2"><i class="fa fa-gear me-1"></i> {% trans "Build help" %}</button>
                                                                </form>
                                                            {% endif %}
                                                        {% endif %}
                                                        <div>
                                                            {% trans "Compare to:" %}
                                                            {% for f in files %}
                                                                <a href="{% url 'vertimus_diff' action.id f.action_id level %}" title="{{ f.title }}">[{{ forloop.revcounter }}]</a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if action.comment %}
                                            <p class="vertimus_action_comment">{{ action.comment|urlize|linebreaksbr }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p><em>{% trans "No current actions." %}</em></p>
            {% endif %}

            {% if level == 0 %}
                <h2>{% trans "New Action" %}</h2>

                {% if not user.is_authenticated %}
                    {% url 'login' as login_url %}
                    {% blocktrans with team_name=language.team.get_description %}You need <a href="{{ login_url }}">to be authenticated</a> and member of the {{ team_name }} team.{% endblocktrans %}
                {% endif %}

                {% include "_includes/module_archive_warning_message.html" %}

                {% if action_form %}
                    <form enctype="multipart/form-data"
                          action="{% url 'vertimus_by_stats_id' stats.id language.id %}"
                          method="POST" class="djform">
                        <script>
                            let send_mail_defaults = Array();
                            {% for action in action_form.actions %}
                                {% if action.name %}send_mail_defaults['{{ action.name }}'] = {{ action.send_mail_to_ml|lower }};{% endif %}
                            {% endfor %}
                        </script>

                        {% csrf_token %}
                        <table>
                            {{ action_form.action|as_tr }}
                            {{ action_form.author|as_tr }}
                            {% if action_form.sync_master %}
                                {{ action_form.sync_master|as_tr_cb }}
                            {% endif %}
                            {{ action_form.comment|as_tr }}
                            {{ action_form.file|as_tr }}

                            {% comment %}
                            	Mailing list are optional.
                            {% endcomment %}
                            {% if action_form.send_to_ml %}
                                {{ action_form.send_to_ml|as_tr_cb }}
                            {% endif %}
                            <tr>
                                <td></td>
                                <td><input type="submit" value="{% trans "Submit" %}"></td>
                                <tr>
                                </table>
                            </form>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-triangle me-2"></i> {% trans "This team is not using the translation workflow." %}
            </div>
        {% endif %}
{% endblock %}
