{# Variables 'team' and 'language' must be defined prior to calling this template #}

{% with team.get_description as lang %}
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <h2>{% trans "Details" %}
                {% if can_edit_details %}
                    <a href="{% url 'team_edit' team.name %}">
                        <img src="{% static 'img/edit.png' %}" alt="Edit">
                    </a>
                {% endif %}
            </h2>

            <dl>
                {% if team.webpage_url %}
                    <dt>{% blocktrans %}{{ lang }} Translation Team Page:{% endblocktrans %}</dt>
                    <dd><a href="{{ team.webpage_url }}">{{ team.webpage_url }}</a></dd>
                {% endif %}

                <dt>{% trans "Bug reporting:" %}</dt>
                <dd>
                    <ul class="foot">
                        <li><a href="{{ language.bugs_url_enter|safe }}">{% trans "Report Bug in Translation" %}</a></li>
                        <li><a href="{{ language.bugs_url_show|safe }}">{% trans "Show Existing Bugs" %}</a></li>
                    </ul>
                </dd>

                {% if team.mailing_list %}
                    <dt>{% trans "Mailing List:" %}</dt>
                    <dd>
                        <ul class="foot">
                            <li><a href="mailto:{{ team.mailing_list }}">{% trans "Send e-mail to the list" %}</a></li>
                            {% if team.mailing_list_subscribe %}
                                <li><a href="{{ team.mailing_list_subscribe }}">{% trans "Subscribe" %}</a></li>
                            {% endif %}
                        </ul>
                    </dd>
                {% endif %}
            </dl>
        </div>

        <div class="col-md-7 col-sm-6">
            <h2>{% trans "Coordinator" %}</h2>
            {% for person in team.get_coordinators %}
                {% include "people/_includes/person_overview.html" %}
            {% empty %}
                <p><em>{% trans "This team has currently no coordinator." %}<br>
                    {% blocktrans with link="https://wiki.gnome.org/TranslationProject/TeamCoordinatorResponsibilities" %}See <a href="{{ link }}">the GTP Wiki</a> for more information about coordinatorship.{% endblocktrans %}</em></p>
            {% endfor %}
        </div>
    </div>
{% endwith %}
