<ul class="list-unstyled row row-cols-md-3 row-cols-sm-2 row-cols-1 column_box">
    {% for release in releases %}
        {% ifchanged release.status %}
            {% if forloop.counter != 1 %}
                </ul>
                <hr>
                <ul class="list-unstyled row row-cols-md-3 row-cols-sm-2 row-cols-1 column_box">
            {% endif %}
        {% endifchanged %}
        <li class="col">
            <div>
                <img height="16" width="16" src="{% static "img/foot-16.png" %}" class="my-auto" alt="GNOME Foot logo">
                <a href="{% url 'release' release.name %}">{% trans release.description %}</a>
            </div>
        </li>
    {% endfor %}
</ul>
