{% extends "base.html" %}

{% block title %} {% trans "All modules" %} - {{ language.get_name }}{% endblock %}

{% block content %}
    <h2>{% trans "All modules" %} - <a href="{{ language.get_team_url }}">{{ language.get_name }}</a></h2>
    <h3>{{ stats_title }}</h3>
    {% with stats as modstats %}
        {% include "languages/language_release_stats.html" %}
    {% endwith %}
{% endblock %}
