{% load people %}

<div>
    <div id="navbar-user-menu-dropdown" class="dropdown-menu {% if LANGUAGE_BIDI %}dropdown-menu-start{% else %}dropdown-menu-end{% endif %}"
         aria-labelledby="navbar-user-menu">
        {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'person_detail_username' user.username %}">
                {% trans 'User Settings' %}
            </a>
            {% if request.user.is_staff %}
                <a class="dropdown-item" href="{% url "admin:index" %}">
                    {% trans "Administration Settings" %}
                </a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <form action="{% url 'logout' %}" method="post" class="form">
                {% csrf_token %}
                <input type="hidden" name="logout" value="1">
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="form-group">
                    <button type="submit" class="btn btn-danger w-100">{% trans 'Log out' %}</button>
                </div>
            </form>
        {% else %}
            {% include "login/login_popup_form.html" %}
        {% endif %}
    </div>
</div>
