{% load people %}

{% if user.is_authenticated %}
    <a id="navbar-user-menu" href="#"
        class="nav-link px-0 py-0 avatar" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{ user.person|people_image }}
    </a>
{% else %}
    <a id="navbar-user-menu" href="#"
        class="nav-link dropdown-toggle text-white"
        role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans "Log in" %}
    </a>
{% endif %}

{% include "login/login_usermenu.html" %}
