{% extends "base.html" %}
{% load people %}

{% block title %}{% trans "GNOME Contributors" %}{% endblock %}

{% block content %}
    <h2>{% trans "GNOME Contributors" %}</h2>
    <p>{% trans "GNOME is being developed by following people:" %}</p>
    <ul class="list-unstyled row row-cols-md-3 row-cols-sm-2 row-cols-1 column_box">
        {% for person in person_list %}
            <li class="col">
                <div>
                    {{ person|people_image }}
                    <a href="{{ person.get_absolute_url }}">{{ person.name }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
