{% extends "people/person_base.html" %}
{% load stats_extras %}
{% load bootstrap5 %}

{% block subcontent %}

    <div class="col-sm-12 col-lg-12 my-3">
        {% include "people/_includes/person_select_site_language.html" %}
    </div>

    <hr class="my-3"/>

    <form action="{{ request.path }}" method="POST" class="form">
        <div class="clearfix my-4">
            <h2 class="float-start">{% trans "Change your details" %}</h2>
            <div class="float-end">
                <a href="{% url "person_detail_username" person.username %}" class="btn btn-danger px-3"><i class="me-2 fa fa-close"></i> {% trans 'Cancel' %}</a>
                <button class="btn btn-success px-3" type="submit"><i class="me-2 fa fa-check"></i> {% trans "Update personal details" %}</button>
            </div>
        </div>
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" exclude="forge_account,forum_account" %}
        {% bootstrap_field form.forum_account layout="horizontal" addon_before_class="input-group-text" addon_before="https://discourse.gnome.org/u/" %}
        {% bootstrap_field form.forge_account layout="horizontal" addon_before="https://gitlab.gnome.org/" %}
    </form>
{% endblock %}
