{% load branch_statistics %}

{% if branch.has_string_frozen %}
    <p>{% trans "This branch is currently string-frozen." %}</p>
{% endif %}

<div class="row">
    <div class="col-lg-6 col-md-12">
        {% get_branch_ui_statistics branch mandatory_languages as ui_statistics %}
        {% if ui_statistics|length %}
            {% if not ui_statistics|length == "1" %}
                <h3>{% trans "Translation" %}</h3>
            {% endif %}
            {% include "stats_show.html" with statistics=ui_statistics domain="ui" %}
        {% endif %}
    </div>
    <div class="col-lg-6 col-md-12">
        {% get_branch_documentation_statistics branch mandatory_languages as doc_statistics %}
        {% if doc_statistics|length %}
            {% if not doc_statistics|length == "1" %}
                <h3>{% trans "Documentation" %}</h3>
            {% endif %}
            {% include "stats_show.html" with statistics=doc_statistics domain="doc" %}
        {% endif %}
    </div>
</div>
