{% extends "base.html" %}

{% block title %} Module Edition (branches) {% endblock %}

{% block content %}
    <h1>
        <a href="{% url 'module' module.name %}">{{ module.get_description }}</a>
    </h1>

    {% if module.homepage %}
        <p>
            <a href="{{ module.homepage }}">{{ module.homepage }}</a>
        </p>
    {% endif %}

    <form action="{{ request.path }}" method="POST" class="djform">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <h4>{% trans "Branch" %}</h4>
                </td>
                <td>
                    <h4>{% trans "Release" %}</h4>
                </td>
                <td>
                    <h4>{% trans "Category" %}</h4>
                </td>
            </tr>
            {% for field1, field2 in form.get_branches %}
                <tr>
                    <th>{{ field1.label }}</th>
                    <td>{{ field1.errors }}{{ field1 }}</td>
                    <td>{{ field2.errors }}{{ field2 }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td>{{ form.new_branch.errors }}{{ form.new_branch }}</td>
                <td>{{ form.new_branch_release.errors }}{{ form.new_branch_release }}</td>
                <td>{{ form.new_branch_category.errors }}{{ form.new_branch_category }}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="{% trans "Save" %}" />
                </td>
            </tr>
        </table>
    </form>

{% endblock %}
