{% extends "base.html" %}

{% block title %}{% trans "GNOME Modules" %}{% endblock %}
{% block content %}
    {% include "_includes/alert_link_declare_bug_if_something_has_to_be_changed.html" %}
    <div>
        <h2 class="float-end mt-md-2 d-none d-md-block">
            <span class="badge text-bg-secondary">
                {% blocktrans trimmed with user_language=user_language.name_local %}
                    Translation state in {{ user_language }}
                {% endblocktrans %}
            </span>
        </h2>
        <h1>{% trans "GNOME Modules" %}</h1>
    </div>
    <p>
        {% blocktrans trimmed %}
            Select a module below to see some damned lies about it. The translation percentages
            you see are computed based on the main module branch (that might be called <code>master</code>,
            <code>main</code>, <code>trunk</code>, etc.). Translation badges show statistics about the
            translation percentage for both the User Interface and the Documentation. The badge is
            <span class="badge text-bg-success">green</span> when the translation is 100%,
            <span class="badge text-bg-warning">orange</span> between 96% and 100%. Otherwise, it will be displayed in
            <span class="badge text-bg-danger">red</span>. UI or documentation po files might be missing. In this case,
            the <span class="badge text-bg-secondary">UI missing</span> or
            <span class="badge text-bg-secondary">Doc. missing</span> is shown. When there are multiple domains for a
            module, whether for the User Interface or the Documentation, the mean of all the statistics is displayed.
        {% endblocktrans %}
    </p>
    <ul class="list-unstyled row row-cols-xl-3 row-cols-md-2 row-cols-1 column_box">
        {% for module in modules %}
            <li class="col">
                {% load translation_percentage %}
                {% translation_percentage_in_language_for_module all_statistics_in_language module "ui" as translated_ui_percentage %}
                {% translation_percentage_in_language_for_module all_statistics_in_language module "doc" as translated_doc_percentage %}
                <div id="{{ module.name }}{% if module.archived %}-archived{% endif %}" class="d-flex justify-content-between {% if module.archived %}opacity-50 bg-gray-400{% endif %}"
                     {% if module.archived %}title="{% translate "This module is archived and read-only." %}"{% endif %}>
                    <a class="float-start" href="{% url 'module' module.name %}">{{ module.get_description }}</a>
                    <div class="float-end">
                        {% if translated_ui_percentage != None %}
                            <span
                                id="{{ module.name }}-ui-{{ translated_ui_percentage }}"
                                title="{% trans 'Translation percentage of the User Interface on the main branch.' %}"
                                class="badge text-bg-{% translation_percentage_color_type translated_ui_percentage %}">
                                {% blocktrans trimmed with translated_ui_percentage=translated_ui_percentage %}
                                    UI {{ translated_ui_percentage }}%
                                {% endblocktrans %}
                            </span>
                        {% else %}
                            <span
                                id="{{ module.name }}-ui-missing"
                                title="{% trans 'Translation percentage of the User Interface on the main branch is missing.' %}"
                                class="badge text-bg-secondary">{% trans "UI missing" %}
                            </span>
                        {% endif %}
                        {% if translated_doc_percentage != None %}
                            <span
                                id="{{ module.name }}-doc-{{ translated_doc_percentage }}"
                                title="{% trans 'Translation percentage of the Documentation on the main branch.' %}"
                                class="badge text-bg-{% translation_percentage_color_type translated_doc_percentage %}">
                                {% blocktrans trimmed with translated_doc_percentage=translated_doc_percentage %}
                                    Doc. {{ translated_doc_percentage }}%{% endblocktrans %}
                            </span>
                        {% else %}
                            <span
                                id="{{ module.name }}-doc-missing"
                                title="{% trans 'Translation percentage of the Documentation on the main branch is missing.' %}"
                                class="badge text-bg-secondary">
                                {% trans "Doc. missing" %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
