{% extends "base.html" %}

{% block title %} {% trans "GNOME Releases" %} {% endblock %}

{% block content %}
    {% include "_includes/alert_link_declare_bug_if_something_has_to_be_changed.html" %}
    <h1>{% trans "GNOME Releases" %}</h1>
    <p>{% trans "Select a release or a release set below to see more details about it:" %}</p>
    {% if active_releases %}
        {% include "_includes/release_list_loop.html" with releases=active_releases %}
    {% endif %}

    {% if old_releases %}
        <div class="mt-4">
            <h2 class="release-set-list-title">
                <a class="btn btn-light px-2 py-1" title="{% trans 'Expand or collapse the category' %}"
                   data-bs-toggle="collapse" href="#collapse-older-releases" role="button" aria-expanded="false"
                   aria-controls="collapse-older-releases">
                    <i class="fa fa-expand"></i>
                </a>
                <span>{% trans "Older Releases" %}</span>
            </h2>
            <div class="collapse" id="collapse-older-releases">
                {% include "_includes/release_list_loop.html" with releases=old_releases %}
            </div>
        </div>
    {% endif %}
{% endblock %}
