{% extends "base.html" %}
{% load stats_extras %}

{% block title %} {% trans "Releases Comparison" %} {% endblock %}
{% block extrahead %}
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            $("#stats").tablesorter({sortList: [[0, 0]]});
        });
    </script>
{% endblock %}

{% block content %}

    <h1>{% trans "Releases Comparison" %}</h1>

    <div class="table-responsive">
        <table class="stats table" id="stats">
            <thead>
                <tr>
                    <th class="header">{% trans "Languages" %}</th>
                    {% for rel in releases %}
                        <th class="header">{{ rel.name }}</th>
                    {% endfor %}
                    <th class="header">{% trans "Progress" %}</th>
                </tr>
            </thead>

            {% for locale, stat in stats.items %}
                <tr class="stats">
                    <td class="stats">
                        <span class="d-none">{{ stat.lang.get_name }}</span>
                        <a href="{{ stat.lang.get_team_url }}">{{ stat.lang.get_name }}</a> ({{ locale }})
                    </td>
                    {% for perc in stat.stats %}
                        <td class="stats {{ perc|support_class }}">{{ perc }}%</td>
                    {% endfor %}
                    <td class="stats {{ stat|support_class_total }}">{{ stat.diff }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
