{% load stats_extras %}

{% for statistics_domain_name, statistics_for_domain in statistics.items %}
    {% with statistics_for_domain|first as pot_stat %}
        {% if forloop.counter > 1 %}
            <hr class="my-2">
        {% endif %}
        <div class="stats_show">
            <div class="d-flex justify-content-between">
                <h4 class="my-auto">{% trans pot_stat.domain.get_description %}</h4>
                <div id="id-buttons-branch-description" class="float-end">
                    {% if pot_stat.get_type == "mallard" %}
                        <span class="btn btn-action btn-download-po-file mx-1"><img
                            src="{% static 'img/mallard.png' %}"
                            title="{% trans "This document is written in Mallard documentation format" %}"
                            alt="mallard icon" height="18" width="18"></span>
                    {% endif %}

                    {% if pot_stat.full_po %}
                        <a href="{{ pot_stat.po_url }}" class="btn btn-action btn-download-po-file"
                           title="{% trans "Download template file (POT)" %}" download="">
                            <i class="fa fa-download"></i>
                            {% translate "Template file (POT)" %}
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if not pot_stat.domain.has_standard_location %}
                <p class="path">{{ pot_stat.domain.base_directory }}</p>
            {% endif %}

            <p class="pot_information">
                {{ pot_stats.pot_stats_summary }}
            </p>

            <!-- This is the title of the section that lists notices about a module -->
            {% with informations=pot_stat.information_set.all %}
                {% if informations %}
                    <div class="notices">
                        <h4>{% trans "Notices" %}</h4>
                        {% for msg in informations %}
                            <div class="item">
                                {{ msg.get_description|safe }}

                                {% if user.is_authenticated %}
                                    {% if msg.type == 'error' or msg.type == 'error-ext' %}
                                        <div class="actions">
                                            <a href="{{ module|browse_bugs:'error+pot+file' }}" target="_blank">
                                                <img src="{% static 'img/search.png' %}" alt="{% trans 'Search for similar bugs before reporting it' %}" title="{% trans 'Search for similar bugs before reporting it' %}">
                                            </a>
                                            <a href="{{ msg.report_bug_url }}" target="_blank">
                                                <img src="{% static 'img/bug.png' %}" alt="{% trans 'Report this bug' %}" title="{% trans 'Report this bug' %}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="table-responsive">
                <table class="stats table table-hover">
                    <thead class="table-secondary align-top">
                        <tr>
                            <th>{% trans "Language" %}</th>
                            <th>{% trans "Translated" %}</th>
                            {% if pot_stat.full_po.fig_count %}
                                <th></th>
                            {% endif %}
                            <th>{% trans "Graph" %}</th>
                        </tr>
                    </thead>
                    {% for single_statistic_in_domain in statistics_for_domain %}
                        {% if not forloop.first %}
                            <tr id="statistics-module-branch-{{ single_statistic_in_domain.language.locale }}-for-{{ domain }}">
                                <td>
                                    {% if not module.archived %}<a href="{% url 'vertimus_by_names' module.name branch.name pot_stat.domain.name single_statistic_in_domain.language.locale %}">{% endif %}
                                    {% if user_language.locale == single_statistic_in_domain.language.locale %}
                                        <b>{{ single_statistic_in_domain.get_lang }}</b>
                                    {% else %}
                                        {{ single_statistic_in_domain.get_lang }}
                                    {% endif %}
                                    {% if not module.archived %}</a>{% endif %}
                                    {% with single_statistic_in_domain.most_important_message as msg %}
                                        {% if msg %}
                                            <img src="{{ msg.get_icon }}" title="{{ msg.get_description }}" alt="{{ msg.type }}" />
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td>{% num_stats_for_statistic single_statistic_in_domain %}</td>
                                {% if pot_stat.full_po.fig_count %}
                                    <td><a href="{% url 'docimages' module.name pot_stat.domain.name branch.name single_statistic_in_domain.language.locale %}">
                                        <img src="{% static 'img/figure.png' %}" alt="{% trans 'Display document figures' %}"></a>
                                    </td>
                                {% endif %}
                                <td>
                                    <div class="graph">{{ single_statistic_in_domain|vis_stats }}</div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    {% endwith %}
{% endfor %}
