{% extends "base.html" %}

{% block title %} {% trans "Damned Lies about GNOME" %} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-12 col-lg-8 col-centered">
            <h1 class="text-center">{% trans "The GNOME Project Translation Platform" %}</h1>
            <div class="text-center">
                <h4>
                    {% trans "Damned Lies is the Web application used to manage the localisation (l10n) of the GNOME project." %}
                </h4>
                {% if not user.is_authenticated or not user_teams|length > 0 %}
                    <p id="create-account-for-unknown-user">
                        {% url 'register' as sign_in_url %}
                        {% url 'teams' as teams_url %}
                        {% blocktrans trimmed %}
                            Contribute by <a href="{{ sign_in_url }}">creating an account</a> and become a
                            <a href="{{ teams_url }}">member of a translation team</a> in one of your mother tongue or a
                            language you master.
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <hr class="bottom_shadow">

    {% if user_teams_all|length > 0 %}
        <div id="suggested-teams-for-user">
            {% include "teams/_includes/team_suggestions.html" %}
        </div>
    {% endif %}

    <hr class="my-2">

    <div class="row my-2 row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="h-100">
                <a href="{% url 'teams' %}">
                    <h2 class="card-header">
                        {% trans "Teams" %}
                        <i class="fa fa-group me-2 float-end"></i>
                    </h2>
                </a>
                <div class="card-body">
                    <p class="card-text">
                        {% trans "GNOME Translation Teams, with full information such as primary contact (coordinator), web pages and mailing list information." %}
                        {% trans "If there is no team for your language, you can easily <a href='https://wiki.gnome.org/TranslationProject/StartingATeam/'>start your own team</a>." %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h-100">
                <a href="{% url 'languages' %}">
                    <h2 class="card-header">
                        {% trans "Languages" %}
                        <i class="fa fa-language me-2 float-end"></i>
                    </h2>
                </a>
                <div class="card-body">
                    {% url 'teams' as teams_url %}
                    <p class="card-text">
                        {% blocktrans trimmed %}
                            Languages with <a href='{{ teams_url }}'>Translation Teams</a>.
                        {% endblocktrans %}
                        {% trans "Some teams manage more than one language (usually just simple variants), and here you can see all the languages GNOME is being translated to." %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-2 row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="h-100">
                <a href="{% url 'releases' %}">
                    <h2 class="card-header">
                        {% trans "Releases" %}
                        <i class="fa fa-solid fa-code-fork me-2 float-end"></i>
                    </h2>
                </a>
                <div class="card-body">
                    <p class="card-text">
                        {% trans "Examples of release sets are “GNOME Infrastructure” or “GNOME 43”." %}
                        {% trans "Official GNOME release sets are further divided into categories such as “Desktop Applications” and “Developer Platform”." %}
                        {% trans "Look here if you want to compare language support in any of these release sets." %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h-100">
                <a href="{% url 'modules' %}">
                    <h2 class="card-header">
                        {% trans "Modules" %}
                        <i class="fa fa-window-maximize me-2 float-end"></i>
                    </h2>
                </a>
                <div class="card-body">
                    <p class="card-text">
                        {% trans "Modules are separate libraries or applications, with one or more branches of development included." %}
                        {% trans "They are usually taken from the Git repository, and we keep all relevant information on them (GitLab details, web page, maintainer information…)." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
