{% comment %}
    column_of_teams:
    user_teams:
    user_teams_suggestions:
{% endcomment %}

{% load people %}
{% load i18n %}

<li class="col">
    <div class="d-flex justify-content-between">
        <div id="team-info-base-{{ team.name|slugify }}{% if suggestion %}-suggestion{% endif %}">
            <a href="{{ team.get_absolute_url }}">{{ team.translated_name }}</a>
            &mdash;
            <span style="font-size: 80%;">
                {% if team.get_coordinators %}
                    {% blocktrans trimmed with people_list=team.get_coordinators|people_list %}
                        Coordinated by {{ people_list }}
                    {% endblocktrans %}
                {% else %}
                    <em>{% trans "No coordinator" %}</em>
                {% endif %}
            </span>
        </div>
        <span class="float-end">
            {% if team in user_teams %}
                <span id="member-of-team-{{ team.name }}" class="badge text-bg-success"
                      title="{% blocktrans with team_name=team.translated_name %}You already are a member of the {{ team_name }} team.{% endblocktrans %}">{% trans "Member" %}</span>
            {% elif team in user_teams_suggestions %}
                <span id="suggestion-for-team-{{ team.name }}" class="badge text-bg-secondary"
                      title="{% blocktrans with team_name=team.translated_name %}We suggest you to become a member of the {{ team_name }} team.{% endblocktrans %}">{% trans "Suggestion" %}</span>
            {% endif %}
        </span>
    </div>
</li>
